<div *ngIf="user">
  <h2>{{user.name | uppercase}} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div><span>name: </span>{{user.name}}</div>
  <div><span>username: </span>{{user.username}}</div>
  <div><span>email: </span>{{user.email}}</div>
  <div><span>street: </span>{{user.address.street}}</div>
  <div><span>suite: </span>{{user.address.suite}}</div>
  <div><span>city: </span>{{user.address.city}}</div>
  <div><span>zipcode: </span>{{user.address.zipcode}}</div>
  <div><span>geo lat: </span>{{user.address.geo.lat}}</div>
  <div><span>geo lng: </span>{{user.address.geo.lng}}</div>
  <div><span>phone: </span>{{user.phone}}</div>
  <div><span>website: </span>{{user.website}}</div>
  <div><span>company name: </span>{{user.company.name}}</div>
  <div><span>company catchPhrase: </span>{{user.company.catchPhrase}}</div>
  <div><span>company bs: </span>{{user.company.bs}}</div>
  
  <button (click)="goBack()">go back</button>

</div>