.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

tr.user-detail-row {
  height: 0;
}

tr.user-row:not(.user-expanded-row):hover {
  background: whitesmoke;
}

tr.user-row:not(.user-expanded-row):active {
  background: #efefef;
}

.user-row td {
  border-bottom-width: 0;
}

.user-detail {
  overflow: hidden;
  display: flex;
}

.user-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}