<mat-form-field>
  <mat-label>Search: </mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search by name or e-mail..." #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let user" [attr.colspan]="displayedColumns.length">
        <div class="user-detail"
             [@detailExpand]="user == expandedUser ? 'expanded' : 'collapsed'">
            <p>
              Username: {{user.username}}
              <br>
              E-mail: {{user.email}}
              <br>
              City: {{user.address.city}}
              <br>
              <a mat-raised-button routerLink="/detail/{{user.id}}">User details</a>
            </p>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let user; columns: displayedColumns;"
      class="user-row"
      [class.user-row]="expandedUser === user"
      (click)="expandedUser = expandedUser === user ? null : user">
    </tr>
    <tr mat-row *matRowDef="let user; columns: ['expandedDetail']" class="user-detail-row"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>